# dependencies
node_modules/

# Next.js
app/.next/
app/out/
app/build/

# Taro miniprogram build output
miniprogram/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
app/.env*

# vercel
.vercel
app/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# pnp
.pnp
.pnp.*

# swc cache
.swc/
